.accordion {
  will-change: transform, opacity;
  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.3rem;
    cursor: pointer;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.16);

    @include breakpoint(lg, max) {
      padding-bottom: 2.4rem;
    }

    &::after {
      content: "";
      display: inline-block;
      position: relative;
      top: -0.4rem;
      right: 0.4rem;
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 2rem;
      flex-shrink: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M4 9.5L12 17.5L20 9.5L18.586 8.086L12 14.672L5.414 8.086L4 9.5Z' fill='white' fill-opacity='0.32'/%3E%3C/svg%3E");
      background-size: 2.4rem;
      transition: $transition;
      transform: rotate(-90deg);

      // @include breakpoint(lg, max) {
      // }
    }

    h3 {
      margin-bottom: 0;
      font-family: $font-third;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.16;
      letter-spacing: 0.048rem;

      @include breakpoint(lg, max) {
        font-size: 2rem;
      }
    }
  }

  .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: $transition;

    .text-holder {
      padding-top: 1.5rem;

      @include breakpoint(lg, max) {
        font-size: 1.6rem;
        line-height: 1.55;
      }
    }
  }

  &.open {
    .accordion-header {
      &::after {
        transform: rotate(0deg);

        @include breakpoint(lg, max) {
          transform: rotate(0deg);
        }
      }
    }
  }
}
