.section_works {
  .row {
    @include breakpoint(lg, min) {
      @include set-gutter(4.8rem);
    }

    [class^="col"] {
      margin-bottom: 3.2rem;

      @include breakpoint(md, max) {
        width: 100%;
      }
    }
  }

  .works-item {
    position: relative;

    .h3 {
      margin-bottom: 0.5rem;
      font-family: $font-third;
      font-weight: 500;
      line-height: normal;
      font-size: 2.4rem;
      letter-spacing: 0.024rem;

      @include breakpoint(lg, max) {
        font-size: 3.2rem;
      }

      &::before {
        content: attr(data-before);
        color: #a5c4d3;
        margin-right: 0.5rem;

        @include breakpoint(lg, max) {
          margin-right: 1rem;
          font-size: 2.4rem;
        }
      }

      a {
        text-decoration: none;
      }
    }

    .item-picture {
      position: relative;
      padding-top: 84%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1.6rem;
      margin-bottom: 0.8rem;

      @include breakpoint(sm, max) {
        padding-top: 93%;
      }
    }

    .item-link {
      position: absolute;
      inset: 0;
      font-size: 0;
      opacity: 0;
      z-index: 2;
    }
  }


}

.cat-filter {

  margin-bottom: 5rem;

}
