.section_cooperate {
  position: relative;
  z-index: 4;
  padding-bottom: 22.6rem;

  @include breakpoint(lg, max) {
    padding-bottom: 10.6rem;
  }

  .container {
    @include breakpoint(lg, min) {
      display: flex;
      gap: 4rem;
    }
  }

  .title-custom {
    margin-bottom: 3.4rem;

    @include breakpoint(lg, max) {
      margin-bottom: 2rem;
    }

    &::after {
      @include breakpoint(sm, max) {
        content: "";
        position: absolute;
        top: -40%;
        left: -41rem;
        width: 119.3rem;
        height: 0.1rem;
        transform: rotate(135deg);
        background: #882929;
        z-index: -1;
      }
    }
  }

  .section-header {
    max-width: calc(50% - 2rem);
    margin-bottom: 5.2rem;
    order: 3;
    // left: 50%;

    @include breakpoint(lg, min) {
      position: sticky;
      // display: flex;
    }

    @include breakpoint(lg, max) {
      margin-bottom: 2.4rem;
      max-width: 100%;
    }

    .header-img {
      display: none;
      will-change: transform, opacity;
      @include breakpoint(lg, min) {
        position: relative;
        width: 100%;
        max-width: 49.8rem;
      }

      &::after {
        @include breakpoint(lg, min) {
          content: "";
          position: absolute;
          top: 0;
          transform: translateY(-20%);
          left: -3.3rem;
          width: 100%;
          height: 100%;
          padding-bottom: 129%;
          background: url("#{$images}img-03.png"), url("#{$images}img-05.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center, 50% 0%;
        }
      }
    }

    .header-text {
      margin-bottom: 0;
      color: #fff;
      font-size: 2rem;
      line-height: 1.6;

      @include breakpoint(xl, min) {
        max-width: 80rem;
        column-count: 2;
        gap: 4rem;
      }

      @include breakpoint(lg, min) {
        max-width: 80rem;
      }

      @include breakpoint(lg, max) {
        font-size: 1.6rem;
        line-height: 1.4;
      }
    }
  }

  .section_cooperate_btn_w {
    margin: 3.2rem 0 0 0;

    @include breakpoint(lg, max) {
      margin: 3.2rem 0 3.2rem 0rem;
    }
  }

  .row {
    width: 50%;

    @include breakpoint(lg, max) {
      width: 100%;
    }

    counter-reset: section;

    @include breakpoint(lg, min) {
      @include set-gutter(1.6rem);
    }

    @include breakpoint(lg, max) {
      @include set-gutter(0.8rem);
    }

    [class^="col-"] {
      margin-bottom: 1.6rem;

      &:nth-child(odd) {
        @include breakpoint(lg, min) {
          margin-top: -15rem;
        }
      }

      @include breakpoint(lg, min) {
        width: 50%;
      }

      @include breakpoint(lg, max) {
        width: 100%;
        margin-bottom: 0.8rem;
      }

      @include breakpoint(lg, max) {
        width: 50%;
        margin-bottom: 0.8rem;
      }

      @include breakpoint(md, max) {
        width: 50%;
      }

      @include breakpoint(sm, max) {
        width: 100%;
      }
    }
  }

  .cooperate-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 34.4rem;
    padding: 3.2rem;
    border-radius: 1.6rem;
    border: 0.2rem solid #293135;
    background: #181d1f;
    overflow: hidden;
    transition: all 0.4s linear;

    &::after {
      content: "";
      position: absolute;
      top: -6.3rem;
      right: -6.4rem;
      width: 18.6rem;
      height: 29.6rem;
      transform: rotate(-45deg);
      flex-shrink: 0;
      background: conic-gradient(
        from 180deg at 50% 50%,
        #116f49 0deg,
        rgba(17, 105, 111, 0.83) 360deg
      );
      filter: blur(64px);
      z-index: 1;
      // opacity: 0;
      transition: $transition;
      transform: scale(0.5);
    }

    &::before {
      counter-increment: section;
      content: "0" counter(section);
      font-family: $font-first;
      font-style: normal;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.05;
      letter-spacing: 0.256rem;
      text-shadow: -1px 0 #26e1963d, 0 1px #26e1963d, 1px 0 #26e1963d,
        0 -1px #26e1963d;
      color: #181d1f;
    }

    .card-img {
      position: absolute;
      top: -1rem;
      right: -7.4rem;
      width: 29.6rem;
      height: 29.6rem;
      z-index: 2;
      // opacity: 0;
      transition: $transition;
      filter: brightness(50%);
    }

    .card-title {
      margin-bottom: 0;
      font-family: $font-third;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 1.05;
      letter-spacing: 0.064rem;
      align-self: flex-start;
      background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0.8) -8.5%,
        rgba(255, 255, 255, 0) 120.33%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: $transition, filter ease 0.4s;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2rem;
        width: 11.5rem;
        height: 1.3rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='118' height='9' viewBox='0 0 118 9' fill='none'%3E%3Cpath d='M117.354 4.95975C117.549 4.76449 117.549 4.44791 117.354 4.25265L114.172 1.07067C113.976 0.875405 113.66 0.875405 113.464 1.07067C113.269 1.26593 113.269 1.58251 113.464 1.77777L116.293 4.6062L113.464 7.43463C113.269 7.62989 113.269 7.94647 113.464 8.14174C113.66 8.337 113.976 8.337 114.172 8.14174L117.354 4.95975ZM0 5.1062H117V4.1062H0V5.1062Z' fill='%2326E196'/%3E%3C/svg%3E");
        background-size: 11.5rem;
        background-position: -11.5rem 0;
        background-repeat: no-repeat;
        transition: $transition;
        opacity: 0;
        z-index: -1;
      }
    }

    .card-link {
      position: absolute;
      inset: 0;
      font-size: 0;
      z-index: 3;
    }

    &:hover {
      .card-title {
        font-size: 4rem;
        transform: translateY(-2rem);

        &::after {
          background-position: 0 0;
          opacity: 1;
        }
      }

      .card-img {
        // opacity: 1;
        filter: brightness(100%);
      }

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .js-sticky-wrapper {
    position: relative;
  }
  .js-sticky-el {
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint(lg, max) {
      position: relative;
    }
  }
}
