.home-page {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .graphic-2 {
    display: none;
    pointer-events: none;

    @include breakpoint(lg, min) {
      display: block;
      position: absolute;
      top: -13.8rem;
      right: 0;
      transform: translateX(35%);
      width: 129.5rem;
      height: 113.8rem;
      z-index: 1;
    }

    .path-graphic-2 {
      will-change: transform;
      animation: 31s anim-path-2 infinite;
    }

    @keyframes anim-path-2 {
      0% {
        d: path(
          "M1014 1626.5C984.579 1462.66 1077 1177 1077 1177C1077 1177 285.744 872.828 257.5 825.5C229.256 778.172 1291.07 759.59 1291.07 759.59C1291.07 759.59 1296.1 140.218 1367.5 276.5C1575.31 673.124 1536.79 1264.63 1529.73 1352.27C1530.1 1351.98 1530.46 1351.7 1530.83 1351.41L1653.79 640.183L1897.91 1051.24C1897.91 1051.24 1724.26 1201.44 1530.83 1351.41L1528.78 1363.27C1528.78 1363.27 1529.15 1359.48 1529.73 1352.27C1294.35 1534.68 1030.13 1716.34 1014 1626.5Z"
        );
      }
      10% {
        d: path(
          "M609.566 1639.82C580.145 1475.98 672.566 1190.32 672.566 1190.32C672.566 1190.32 290.744 943.828 262.5 896.5C234.256 849.172 319 483.5 319 483.5C319 483.5 891.663 153.541 963.066 289.823C1170.87 686.447 1132.35 1277.96 1125.3 1365.59C1125.66 1365.3 1126.03 1365.02 1126.4 1364.73L1249.35 653.506L1493.48 1064.57C1493.48 1064.57 1319.83 1214.77 1126.4 1364.73L1124.35 1376.6C1124.35 1376.6 1124.72 1372.8 1125.3 1365.59C889.917 1548.01 625.699 1729.66 609.566 1639.82Z"
        );
      }
      20% {
        d: path(
          "M608.341 1409.46C578.92 1245.62 671.341 959.957 671.341 959.957C671.341 959.957 289.519 713.463 261.275 666.134C233.03 618.806 338.5 496.5 338.5 496.5C338.5 496.5 687.097 152.218 758.5 288.5C965.221 683.052 1099.98 1076.95 1120.41 1138.06C1122 1136.83 1123.59 1135.6 1125.17 1134.37L1248.13 423.14L1492.25 834.201C1492.25 834.201 1318.61 984.399 1125.17 1134.37L1123.12 1146.23C1123.12 1146.23 1122.21 1143.43 1120.41 1138.06C885.962 1319.52 624.391 1498.83 608.341 1409.46Z"
        );
      }
      30% {
        d: path(
          "M606.341 1242.46C576.92 1078.62 336.5 929.5 336.5 929.5C336.5 929.5 287.519 546.463 259.275 499.134C231.03 451.806 460 538 460 538C460 538 699.096 306.218 770.5 442.5C966.883 817.321 1087.64 946.799 1115.11 973.61C1117.8 971.53 1120.49 969.449 1123.17 967.369L1246.13 256.14L1490.25 667.201C1490.25 667.201 1316.61 817.4 1123.17 967.369L1121.12 979.231C1121.12 979.231 1119.1 977.503 1115.11 973.61C881.514 1154.19 622.315 1331.41 606.341 1242.46Z"
        );
      }
      40% {
        d: path(
          "M604.341 1650.46C574.92 1486.62 334.5 1337.5 334.5 1337.5C334.5 1337.5 285.519 954.463 257.275 907.134C229.03 859.806 705 953 705 953C705 953 887.597 135.718 959 272C1167.18 669.331 1127.16 1286.63 1120.05 1376.24C1120.43 1375.95 1120.8 1375.66 1121.17 1375.37L1244.13 664.14L1488.25 1075.2C1488.25 1075.2 1314.61 1225.4 1121.17 1375.37L1119.12 1387.23C1119.12 1387.23 1119.48 1383.44 1120.05 1376.24C884.677 1558.65 620.474 1740.3 604.341 1650.46Z"
        );
      }
    }
  }

  .title-custom-1 {
    span {
      &:first-child {
        top: 0.2rem;
        left: 1.1rem;
      }
    }
  }

  .title-custom-2 {
    span {
      &:first-child {
        left: 7rem;
        top: 0rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -35rem;
      left: -21rem;
      width: 138rem;
      height: 53.2rem;
      background: url("#{$images}graphic-03.svg") no-repeat;
      background-size: contain;
      transform: rotate(-22.204deg);
      z-index: -1;
    }

    // red line open
    // &::after {
    // @include breakpoint(lg, min) {
    //   content: "";
    //   position: absolute;
    //   top: -40%;
    //   left: -26.6rem;
    //   width: 119.3rem;
    //   height: 0.1rem;
    //   transform: rotate(135deg);
    //   background: #882929;
    //   z-index: -1;
    // }
    // }
    // red line end
  }

  .title-custom-3 {
    span {
      &:first-child {
        top: -0.46rem;
        right: 5rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -30rem;
      left: -21rem;
      width: 113rem;
      height: 58.1rem;
      background: url("#{$images}graphic-04.svg") no-repeat;
      background-size: contain;
      z-index: -1;
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -15rem;
    //   left: -59rem;
    //   width: 252rem;
    //   height: 0.1rem;
    //   transform: rotate(135deg);
    //   background: #882929;
    //   z-index: -1;

    //   @include breakpoint(lg, max) {
    //     left: -99rem;
    //   }
    // }
  }

  .title-custom-4 {
    span {
      &:first-child {
        top: -0.06rem;
        right: 11.2rem;
      }
    }
  }
}

.title_line_1 {
  @include breakpoint(lg, min) {
    position: absolute;

    left: 93.4rem;
    top: -39rem;
    width: 119.3rem;
    height: 0.1rem;
    // background: #882929;
    z-index: -1;
  }
}

.title_line_2 {
  position: absolute;
  top: -117rem;
  left: 193rem;
  width: 252rem;
  // height: 1vh;
  height: 0.1rem;
  // background: #882929;
  z-index: -1;

  @include breakpoint(lg, max) {
    left: 49rem;
    top: -14rem;
  }
}
