.works-page {
  padding-top: 15.6rem;
  position: relative;

  .graphic-1 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 112rem;
    height: 73.2rem;

    .path-graphic-1 {
      animation: 50s anim-path infinite;
    }

    @keyframes anim-path {
      0% {
        d: path(
          "M1088 0L401.5 9L731 464.5L234 292.5L130.5 559.5L287.227 -81.8568L236.085 -87.0846L-37 232.5V-115L236.085 -87.0846L309.5 -173L287.227 -81.8568L1088 0Z"
        );
      }
      20% {
        d: path(
          "M3088 0L101.5 9L131 64.5L234 192.5L130.5 459.5L287.227 -31.8568L236.085 -37.0846L-37 132.5V-115L236.085 -47.0846L309.5 -13L287.227 -31.8568L1088 0Z"
        );
      }
      30% {
        d: path(
          "M2088 0L101.5 9L131 164.5L234 292.5L130.5 559.5L287.227 -21.8568L236.085 -37.0846L-37 132.5V-115L236.085 -47.0846L309.5 -13L287.227 -31.8568L1088 0Z"
        );
      }
      40% {
        d: path(
          "M1088 0L401.5 9L731 464.5L234 292.5L130.5 559.5L287.227 -81.8568L236.085 -87.0846L-37 232.5V-115L236.085 -87.0846L309.5 -173L287.227 -81.8568L1088 0Z"
        );
      }
      50% {
        d: path(
          "M3088 0L101.5 9L131 64.5L234 192.5L130.5 459.5L287.227 -31.8568L236.085 -37.0846L-37 132.5V-115L236.085 -47.0846L309.5 -13L287.227 -31.8568L1088 0Z"
        );
      }
      60% {
        d: path(
          "M2088 0L101.5 9L131 164.5L234 292.5L130.5 559.5L287.227 -21.8568L236.085 -37.0846L-37 132.5V-115L236.085 -47.0846L309.5 -13L287.227 -31.8568L1088 0Z"
        );
      }
    }
  }

  .graphic-2 {
    display: none;
    pointer-events: none;

    @include breakpoint(lg, min) {
      display: block;
      position: absolute;
      top: 22rem;
      right: 35%;
      transform: translateX(35%);
      width: 129.5rem;
      height: 113.8rem;
      z-index: 1;
    }

    .path-graphic-2 {
      will-change: transform;
      animation: 31s anim-path-2 infinite;
    }

    @keyframes anim-path-2 {
      0% {
        d: path(
          "M1014 1626.5C984.579 1462.66 1077 1177 1077 1177C1077 1177 285.744 872.828 257.5 825.5C229.256 778.172 1291.07 759.59 1291.07 759.59C1291.07 759.59 1296.1 140.218 1367.5 276.5C1575.31 673.124 1536.79 1264.63 1529.73 1352.27C1530.1 1351.98 1530.46 1351.7 1530.83 1351.41L1653.79 640.183L1897.91 1051.24C1897.91 1051.24 1724.26 1201.44 1530.83 1351.41L1528.78 1363.27C1528.78 1363.27 1529.15 1359.48 1529.73 1352.27C1294.35 1534.68 1030.13 1716.34 1014 1626.5Z"
        );
      }
      10% {
        d: path(
          "M609.566 1639.82C580.145 1475.98 672.566 1190.32 672.566 1190.32C672.566 1190.32 290.744 943.828 262.5 896.5C234.256 849.172 319 483.5 319 483.5C319 483.5 891.663 153.541 963.066 289.823C1170.87 686.447 1132.35 1277.96 1125.3 1365.59C1125.66 1365.3 1126.03 1365.02 1126.4 1364.73L1249.35 653.506L1493.48 1064.57C1493.48 1064.57 1319.83 1214.77 1126.4 1364.73L1124.35 1376.6C1124.35 1376.6 1124.72 1372.8 1125.3 1365.59C889.917 1548.01 625.699 1729.66 609.566 1639.82Z"
        );
      }
      20% {
        d: path(
          "M608.341 1409.46C578.92 1245.62 671.341 959.957 671.341 959.957C671.341 959.957 289.519 713.463 261.275 666.134C233.03 618.806 338.5 496.5 338.5 496.5C338.5 496.5 687.097 152.218 758.5 288.5C965.221 683.052 1099.98 1076.95 1120.41 1138.06C1122 1136.83 1123.59 1135.6 1125.17 1134.37L1248.13 423.14L1492.25 834.201C1492.25 834.201 1318.61 984.399 1125.17 1134.37L1123.12 1146.23C1123.12 1146.23 1122.21 1143.43 1120.41 1138.06C885.962 1319.52 624.391 1498.83 608.341 1409.46Z"
        );
      }
      30% {
        d: path(
          "M606.341 1242.46C576.92 1078.62 336.5 929.5 336.5 929.5C336.5 929.5 287.519 546.463 259.275 499.134C231.03 451.806 460 538 460 538C460 538 699.096 306.218 770.5 442.5C966.883 817.321 1087.64 946.799 1115.11 973.61C1117.8 971.53 1120.49 969.449 1123.17 967.369L1246.13 256.14L1490.25 667.201C1490.25 667.201 1316.61 817.4 1123.17 967.369L1121.12 979.231C1121.12 979.231 1119.1 977.503 1115.11 973.61C881.514 1154.19 622.315 1331.41 606.341 1242.46Z"
        );
      }
      40% {
        d: path(
          "M604.341 1650.46C574.92 1486.62 334.5 1337.5 334.5 1337.5C334.5 1337.5 285.519 954.463 257.275 907.134C229.03 859.806 705 953 705 953C705 953 887.597 135.718 959 272C1167.18 669.331 1127.16 1286.63 1120.05 1376.24C1120.43 1375.95 1120.8 1375.66 1121.17 1375.37L1244.13 664.14L1488.25 1075.2C1488.25 1075.2 1314.61 1225.4 1121.17 1375.37L1119.12 1387.23C1119.12 1387.23 1119.48 1383.44 1120.05 1376.24C884.677 1558.65 620.474 1740.3 604.341 1650.46Z"
        );
      }
    }
  }

  .intro_title_line {
    will-change: transform;
    position: absolute;
    top: -25rem;
    left: 78rem;
    width: 66.8rem;
    height: 0.1rem;
    opacity: 0;
    transform: rotate(135deg);
    background: #882929;
    z-index: -1;

    @include breakpoint(lg, max) {
      top: -14rem;
      left: 55rem;
    }
  }

  @include breakpoint(lg, max) {
    padding-top: 10rem;
  }

  .bg-gradient {
    content: "";
    position: absolute;
    top: 1.44rem;
    left: 50%;
    transform: translateX(calc(-50% + -3.3rem));
    width: 100vw;
    height: 178rem;
  }

  .breadcrumb {
    margin-bottom: 4.9rem;
  }

  > .container {
    position: relative;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -6rem;
    //   left: 26rem;
    //   width: 66.8rem;
    //   height: 0.1rem;
    //   transform: rotate(135deg);
    //   background: #882929;
    //   z-index: -1;

    //   @include breakpoint(lg, max) {
    //     top: 8rem;
    //     left: -1rem;
    //   }
    // }

    &::before {
      content: "創 造 的";
      position: absolute;
      top: -18.6rem;
      right: 38rem;
      font-family: $font-third;
      font-size: 16rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      writing-mode: vertical-rl;
      display: flex;
      letter-spacing: 2rem;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(63, 63, 63, 0.08) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include breakpoint(lg, max) {
        top: -11rem;
        right: 3.9rem;
        font-size: 11rem;
        letter-spacing: 1rem;
      }
    }
  }

  .page-intro {
    position: relative;
    z-index: 2;
    display: flex;
    padding-bottom: 12rem;

    @include breakpoint(lg, max) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 5.1rem;
    }

    @include breakpoint(lg, min) {
      justify-content: space-between;
    }

    .h1 {
      position: relative;
      margin-bottom: 0;
      align-self: flex-end;
      font-family: $font-third;
      font-weight: 700;
      font-size: 12rem;
      line-height: normal;
      background: radial-gradient(
        80.63% 69.65% at 50% 30.35%,
        #7e7e7e 0%,
        #fff 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include breakpoint(lg, max) {
        margin-bottom: 5.8rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 8rem;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 170%;
        transform: translateX(50%);
        width: 1.6rem;
        height: 1.6rem;
        background: linear-gradient(
            102deg,
            #098564 -8.65%,
            #1c6064 63.61%,
            #124859 96.15%
          ),
          #d9d9d9;
        border-radius: 50%;

        @include breakpoint(lg, max) {
          top: 1rem;
          right: calc(100% + 3rem);
        }
      }
    }

    .random-case {
      display: flex;
      justify-content: flex-end;
      width: 52%;
      font-size: 1.6rem;
      color: white;
      text-decoration: none;

      @include breakpoint(lg, max) {
        flex-direction: column;
        width: 70%;
      }

      @include breakpoint(md, max) {
        width: 85%;
      }

      @include breakpoint(sm, max) {
        width: 100%;
      }

      span {
        br {
          @include breakpoint(lg, max) {
            display: none;
          }
        }

        &:nth-child(1) {
          font-size: 1.6rem;

          @include breakpoint(lg, max) {
            font-size: 1.4rem;
          }
        }

        &:nth-child(2) {
          font-family: $font-third;
          font-weight: 700;
          font-size: 2.6rem;

          @include breakpoint(lg, max) {
            font-size: 3.2rem;
          }
        }
      }

      .img-holder {
        @include breakpoint(lg, min) {
          max-width: 44rem;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 1.2rem;
        }
      }

      .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 18rem;

        @include breakpoint(lg, min) {
          padding-top: 4rem;
        }

        @include breakpoint(lg, max) {
          margin-bottom: 0.8rem;
          align-items: center;
          flex-direction: row;
          max-width: 100%;
        }

        &::after {
          content: "";
          display: block;
          width: 3.6rem;
          height: 3.6rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36' fill='none'%3E%3Cg clip-path='url(%23clip0_1086_363)'%3E%3Cpath d='M24.82 15.8C24.6326 15.6138 24.3792 15.5092 24.115 15.5092C23.8508 15.5092 23.5974 15.6138 23.41 15.8C23.2237 15.9874 23.1192 16.2408 23.1192 16.505C23.1192 16.7692 23.2237 17.0227 23.41 17.21L27.2 21H9V3.78003C9 3.51481 8.89464 3.26046 8.70711 3.07292C8.51957 2.88539 8.26522 2.78003 8 2.78003C7.73478 2.78003 7.48043 2.88539 7.29289 3.07292C7.10536 3.26046 7 3.51481 7 3.78003V21C7 21.5305 7.21071 22.0392 7.58579 22.4142C7.96086 22.7893 8.46957 23 9 23H27.15L23.41 26.75C23.2237 26.9374 23.1192 27.1908 23.1192 27.455C23.1192 27.7192 23.2237 27.9727 23.41 28.16C23.5963 28.3448 23.8477 28.4489 24.11 28.45C24.2416 28.4508 24.3721 28.4256 24.4939 28.3758C24.6157 28.326 24.7266 28.2527 24.82 28.16L31 22L24.82 15.8Z' fill='black'/%3E%3Cpath d='M24.82 15.8C24.6326 15.6138 24.3792 15.5092 24.115 15.5092C23.8508 15.5092 23.5974 15.6138 23.41 15.8C23.2237 15.9874 23.1192 16.2408 23.1192 16.505C23.1192 16.7692 23.2237 17.0227 23.41 17.21L27.2 21H9V3.78003C9 3.51481 8.89464 3.26046 8.70711 3.07292C8.51957 2.88539 8.26522 2.78003 8 2.78003C7.73478 2.78003 7.48043 2.88539 7.29289 3.07292C7.10536 3.26046 7 3.51481 7 3.78003V21C7 21.5305 7.21071 22.0392 7.58579 22.4142C7.96086 22.7893 8.46957 23 9 23H27.15L23.41 26.75C23.2237 26.9374 23.1192 27.1908 23.1192 27.455C23.1192 27.7192 23.2237 27.9727 23.41 28.16C23.5963 28.3448 23.8477 28.4489 24.11 28.45C24.2416 28.4508 24.3721 28.4256 24.4939 28.3758C24.6157 28.326 24.7266 28.2527 24.82 28.16L31 22L24.82 15.8Z' fill='url(%23paint0_linear_1086_363)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1086_363' x1='4.45209' y1='2.89242' x2='33.8445' y2='8.84315' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23098564'/%3E%3Cstop offset='0.689542' stop-color='%231C6064'/%3E%3Cstop offset='1' stop-color='%23124859'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_1086_363'%3E%3Crect width='36' height='36' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          background-repeat: no-repeat;
        }
      }
    }
  }

  .section_works {
    position: relative;
    z-index: 1;

    .work_title_line {
      display: none;

      @include breakpoint(lg, min) {
        display: block;
        position: absolute;
        top: 0;
        right: -306rem;
        width: 300rem;
        height: 0.2rem;
        z-index: -1;
      }
    }

    // &::after {
    //   @include breakpoint(lg, min) {
    //     content: "";
    //     position: absolute;
    //     top: 59rem;
    //     left: -11rem;
    //     transform: translate(-50%, -50%) rotate(322deg);
    //     display: block;
    //     width: 300rem;
    //     height: 300rem;
    //     transform-origin: left;
    //     border-bottom: 0.2rem solid #882929;
    //     z-index: -1;
    //   }
    // }

    // &::before {
    //   @include breakpoint(lg, min) {
    //     content: "";
    //     position: absolute;
    //     bottom: -388rem;
    //     left: 44rem;
    //     transform: translate(-50%, -50%) rotate(313deg);
    //     display: block;
    //     width: 300rem;
    //     height: 300rem;
    //     transform-origin: left;
    //     border-bottom: 0.2rem solid #882929;
    //     z-index: -1;
    //   }
    // }
  }
}
