@import "mixins";
@import "include-media";
@import "vars";
@import "reset";
@import "common";
@import "fonts";

// layout
@import "layout/header";
@import "layout/footer";

// components
@import "components/btn";
@import "components/modal";
@import "components/accordion";
@import "components/bredcrumb";
@import "components/contact-form";
@import "components/social_block";

// sections
@import "sections/section_intro";
@import "sections/section_cooperate";
@import "sections/section_latest-works";
@import "sections/section_pride";
@import "sections/section_result";
@import "sections/section_answer";
@import "sections/section_works";

// pages
@import "pages/home-page";
@import "pages/works-page";
@import "pages/post-page";
