<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>test</title>
</head>

<body>
  <div class="wrapper">
    <!--  header -->
    <header class="js-header header">
      <div class="container">
        <div class="left-side">
          <a href="#" class="logo-holder">
            <img src="images/logo.svg" alt="idesy">
          </a>
          <div class="logo-text">
            <p>gambling</p>
            <p>aesthetics</p>
          </div>
        </div>
        <div class="right-side">
          <nav class="main-navigation" id="site-navigation">
            <div class="inner-holder">
              <div class="menu-menu-ua-container">
                <ul id="menu-menu-ua" class="menu">
                  <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a
                      href="#">Про нас</a></li>
                  <li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a
                      href="#">Роботи</a></li>
                  <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a
                      href="#">Кар’єра</a></li>
                  <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a
                      href="#">Контакти</a></li>
                </ul>
              </div>
            </div>
            <div class="langs-list">
              <a href="#" class="btn-select">
                <span class="icon-holder">
                  <img src="images/flag-ua.svg" alt="ua">
                </span>Ua
              </a>
              <a href="#" class="btn-select">
                <span class="icon-holder">
                  <img src="images/flag-en.svg" alt="ua">
                </span>En
              </a>
            </div>
          </nav>
          <a href="#" class="btn btn-md btn-primary">Send a Request</a>
          <div class="lang-select">
            <button class="btn-select">
              <span class="icon-holder">
                <img src="images/flag-ua.svg" alt="ua">
              </span>
              Ua
              <svg width="7" height="6" viewBox="0 0 7 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.93301 5.25C3.74056 5.58333 3.25944 5.58333 3.06699 5.25L0.901924 1.5C0.709474 1.16667 0.950037 0.75 1.33494 0.75L5.66506 0.75C6.04996 0.75 6.29053 1.16667 6.09808 1.5L3.93301 5.25Z"
                  fill="white" />
              </svg>
            </button>
            <ul class="lang-dropdown">
              <li class="dropdown-item">
                <a href="#" class="btn-select">
                  <span class="icon-holder">
                    <img src="images/flag-en.svg" alt="ua">
                  </span>
                  En
                </a>
              </li>
            </ul>
          </div>
          <a href="#" class="btn-toggle-menu">
          </a>
        </div>
      </div>
    </header>

    <!-- / header -->
    <main id="main">
      <div class="home-page">
        <svg class="graphic-2" width="2154" height="1907" viewBox="0 0 2154 1907" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_f_154_4)">
            <path class="path-graphic-2"
              d="M1014 1626.5C984.579 1462.66 1077 1177 1077 1177C1077 1177 285.744 872.828 257.5 825.5C229.256 778.172 1291.07 759.59 1291.07 759.59C1291.07 759.59 1296.1 140.218 1367.5 276.5C1575.31 673.124 1536.79 1264.63 1529.73 1352.27C1530.1 1351.98 1530.46 1351.7 1530.83 1351.41L1653.79 640.183L1897.91 1051.24C1897.91 1051.24 1724.26 1201.44 1530.83 1351.41L1528.78 1363.27C1528.78 1363.27 1529.15 1359.48 1529.73 1352.27C1294.35 1534.68 1030.13 1716.34 1014 1626.5Z"
              fill="url(#paint0_diamond_154_4)" fill-opacity="0.64" />
          </g>
          <defs>
            <filter id="filter0_f_154_4" x="0.94635" y="0.908508" width="2152.97" height="1905.3"
              filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
              <feGaussianBlur stdDeviation="128" result="effect1_foregroundBlur_154_4" />
            </filter>
            <radialGradient id="paint0_diamond_154_4" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(1219.89 944.193) rotate(-120.706) scale(518.057 528.304)">
              <stop stop-color="#11376F" />
              <stop offset="1" stop-color="#116F64" />
            </radialGradient>
          </defs>
        </svg>
        <div class="section_intro">
          <svg class="graphic-1" width="1248" height="720" viewBox="0 0 1248 720" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_468_170824)">
              <path class="path-graphic-1"
                d="M1088 0L401.5 9L731 464.5L234 292.5L130.5 559.5L287.227 -81.8568L236.085 -87.0846L-37 232.5V-115L236.085 -87.0846L309.5 -173L287.227 -81.8568L1088 0Z"
                fill="url(#paint0_diamond_468_170824)" />
            </g>
            <defs>
              <filter id="filter0_f_468_170824" x="-197" y="-333" width="1445" height="1052.5"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="80" result="effect1_foregroundBlur_468_170824" />
              </filter>
              <radialGradient id="paint0_diamond_468_170824" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(525.5 193.25) rotate(90) scale(366.25 562.5)">
                <stop stop-color="#116F49" />
                <stop offset="1" stop-color="#11696F" stop-opacity="0.83" />
              </radialGradient>
            </defs>
          </svg>
          <div class="container">
            <div class="title-wrapper">
              <h1 class="h1">The <span>i</span><span>Gaming</span> <br> <span>Des</span>ign Agenc<span>y</span></h1>
              <div class="decor-title">
                <div class="chip chip-1"></div>
                <div class="chip chip-2"></div>
                <img class="title_img" src="images/idesy.svg" alt="...">
                <div id="svgWrapper">
                  <div id="svg" class="method2"></div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <p>We’re an award-winning boutique for global-thinking companies in the iGaming industry.</p>
              <p>Our main goal is to help brands with building complex communication systems with players.</p>
            </div>
            <div class="marquee-group">
              <div class="marquee" marquee>
                <span>DESIGN</span>
                <span class="title-style-2">MARKETING</span>
                <span>AUDITS</span>
                <span class="title-style-2">PROMOS</span>
              </div>
            </div>
          </div>
        </div>
        <div class="section_cooperate">
          <div class="container js-sticky-wrapper">
            <div class="section-header js-sticky-el">
              <h2 class="title-custom title-custom-1">
                <span data-text="How can we"></span>
                <span>cooperate?</span>
              </h2>
              <div class="header-img"></div>
              <p class="header-text">We’re specializing on the full-cycle gambling services from market audits to
                front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    Marketing <br>
                    Audit
                  </h3>
                  <a href="#" class="card-link">
                    Marketing
                    Audit
                  </a>
                </div>
              </div>
              <div class="col-3 js-card-move-effect">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    Ux/Ui<br>
                    Design
                  </h3>
                  <a href="#" class="card-link">
                    Ux/Ui
                    Design
                  </a>
                </div>
              </div>
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    Promo & Video<br>
                    Graphics
                  </h3>
                  <a href="#" class="card-link">
                    Promo & Video
                    Graphics
                  </a>
                </div>
              </div>
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    Product<br>
                    Consulting
                  </h3>
                  <a href="#" class="card-link">
                    Product
                    Consulting
                  </a>
                </div>
              </div>
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    SEO &<br>
                    Paid Traffic
                  </h3>
                  <a href="#" class="card-link">
                    SEO &
                    Paid Traffic
                  </a>
                </div>
              </div>
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    Front-end<br>
                    Developing
                  </h3>
                  <a href="#" class="card-link">
                    Front-end
                    Developing
                  </a>
                </div>
              </div>
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    E-mail<br>
                    Marketing
                  </h3>
                  <a href="#" class="card-link">
                    E-mail
                    Marketing
                  </a>
                </div>
              </div>
              <div class="col-3">
                <div class="cooperate-card">
                  <img src="images/img-04.png" class="card-img" alt="Marketing Audit">
                  <h3 class="card-title">
                    Marketing <br>
                    Audit
                  </h3>
                  <a href="#" class="card-link">
                    Marketing
                    Audit
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section_latest-works">
          <div class="container">
            <div aria-hidden="true" class="title_line_1 js-anim-line"></div>

            <h2 class="title-custom title-custom-2">
              <span data-text="Check out"></span>
              <span>latest works</span>
            </h2>
            <div class="cards-holder">
              <div class="works-card">
                <div class="img-holder">
                  <img src="images/img-06.jpg" alt="...">
                </div>
                <h3 class="card-title">Rich.prize</h3>
                <ul class="list-tags">
                  <li><span>UI Kit</span></li>
                  <li><span>Wireframes</span></li>
                  <li><span>Ux/Ui</span></li>
                </ul>
                <a href="#" class="card-link">Rich.prize</a>
              </div>
              <div class="works-card">
                <div class="img-holder">
                  <img src="images/img-06.jpg" alt="...">
                </div>
                <h3 class="card-title">Rich.prize</h3>
                <ul class="list-tags">
                  <li><span>UI Kit</span></li>
                  <li><span>Wireframes</span></li>
                  <li><span>Ux/Ui</span></li>
                </ul>
                <a href="#" class="card-link">Rich.prize</a>
              </div>
              <div class="works-card">
                <div class="img-holder">
                  <img src="images/img-06.jpg" alt="...">
                </div>
                <h3 class="card-title">Rich.prize</h3>
                <ul class="list-tags">
                  <li><span>UI Kit</span></li>
                  <li><span>Wireframes</span></li>
                  <li><span>Ux/Ui</span></li>
                </ul>
                <a href="#" class="card-link">Rich.prize</a>
              </div>
              <div class="works-card">
                <div class="img-holder">
                  <img src="images/img-06.jpg" alt="...">
                </div>
                <h3 class="card-title">Rich.prize</h3>
                <ul class="list-tags">
                  <li><span>UI Kit</span></li>
                  <li><span>Wireframes</span></li>
                  <li><span>Ux/Ui</span></li>
                </ul>
                <a href="#" class="card-link">Rich.prize</a>
              </div>
              <div class="works-card">
                <div class="img-holder">
                  <img src="images/img-06.jpg" alt="...">
                </div>
                <h3 class="card-title">Rich.prize</h3>
                <ul class="list-tags">
                  <li><span>UI Kit</span></li>
                  <li><span>Wireframes</span></li>
                  <li><span>Ux/Ui</span></li>
                </ul>
                <a href="#" class="card-link">Rich.prize</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section_pride">
          <div class="container">
            <div class="text-holder">
              <p>We pride ourselves on our ability to craft digital products that not only meet but exceed the
                expectations of our clients.
                <br>
                We understand how to design user-friendly interfaces that captivate and engage audiences.
              </p>
            </div>
            <div class="video-holder">
              <video src="images/video-01.mp4" poster="images/img-07.jpg" loop muted></video>
            </div>
            <div class="cards-holder">
              <div class="left-side">
                <div class="img-holder">
                  <img src="images/img-08.jpg" alt="...">
                </div>
                <div class="img-holder">
                  <img src="images/img-09.jpg" alt="...">
                </div>
              </div>
              <div class="right-side">
                <div class="img-holder">
                  <img src="images/img-010.jpg" alt="...">
                </div>
                <div class="img-holder">
                  <img src="images/img-011.jpg" alt="...">
                </div>
              </div>
            </div>
          </div>
          <div class="section-illustration">
            <div class="section_illustration__line">
              <svg viewBox="0 0 250 250" preserveAspectRatio="xMidYMid meet">
                <circle cx="125" cy="125" r="125" stroke="white" fill="none" />
              </svg>
            </div>
          </div>
        </div>
        <div class="section_result_w">
          <div aria-hidden="true" class="title_line_2 js-anim-line" data-sroller-end="1000"></div>
          <div class="section_result">
            <div class="container">
              <h2 class="title-custom title-custom-3">
                <span data-text="Tools we use"></span>
                <span>for the result</span>
              </h2>
              <div>
                <div class="list-holder">
                  <span class="list-title">design</span>
                  <ul class="list-result">
                    <li>
                      <div class="img-holder">
                        <img src="images/img-012.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-013.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-014.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-015.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-016.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-017.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-018.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                  </ul>
                </div>
                <div class="list-holder">
                  <span class="list-title">MANAGEMENT AND CODE</span>
                  <ul class="list-result">
                    <li>
                      <div class="img-holder">
                        <img src="images/img-019.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-020.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-021.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-022.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-023.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-024.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                    <li>
                      <div class="img-holder">
                        <img src="images/img-025.png" alt="...">
                      </div>
                      <span class="li-title">Blender</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section_answer">
          <div class="container">
            <h2 class="title-custom title-custom-4">
              <span data-text="You ask"></span>
              <span>we answer</span>
            </h2>
            <div class="row">
              <div class="col-6">
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>How fast can you start working on my project?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>Who will be working on my project?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>Do I pay extra for more people?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>Do you provide post-release services?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>How fast can you start working on my project?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>How do you keep the communication during the project?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>How can I get a proposal for my project?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion" accordion-item>
                  <div class="accordion-header">
                    <h3>Do you only do design or development also?</h3>
                  </div>
                  <div class="accordion-body accordion-collapse">
                    <div class="text-holder">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat explicabo laboriosam
                        voluptas expedita omnis eos dolore natus consectetur atque ad asperiores similique magnam, nemo
                        sequi impedit ducimus perspiciatis voluptatem!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--  footer -->
    <footer class="footer">
      <div class="container">
        <div class="footer_decor_circle" aria-hidden="true"></div>
        <div class="row">
          <div class="col-6">
            <div class="footer-block first-block">
              <span class="title-custom">
                <span data-text="a client"></span>
                <span>Become</span>
              </span>
              <div class="icon-holder">
                <img src="images/icon-04.svg" alt="...">
              </div>
              <a href="#" class="block-link" toggle-modal="modal-contact-form">Become a client</a>
            </div>
          </div>
          <div class="col-6">
            <div class="footer-block second-block">
              <div class="block-img-1">
                <img src="images/img-026.png" alt="...">
              </div>
              <div class="block-content">
                <a href="mailto:hello@idesy.agency" class="link-mail">hello@idesy.agency</a>
                <ul class="soc-links">
                  <li>
                    <a href="#">
                      <span class="icon-holder">
                        <img src="images/icon-01.svg" alt="...">
                      </span>
                      facebook
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icon-holder">
                        <img src="images/icon-02.svg" alt="...">
                      </span>
                      instagram
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="icon-holder">
                        <img src="images/icon-03.svg" alt="...">
                      </span>
                      behance
                    </a>
                  </li>
                </ul>
                <p class="copyright">
                  All rights reserved © 2023 — idesy.agency
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
    <div class="modal-overlay" id="modalContainer">

    </div>
  </div>
</body>

</html>