<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Post</title>
	<link rel="stylesheet" href="/styles/libraries/swiper/swiper-bundle.min.css">
</head>

<body>
	<div class="wrapper" style="overflow: hidden;">
		<!--  header -->
		<header class="header">
			<div class="container">
				<div class="left-side">
					<a href="#" class="logo-holder">
						<img src="images/logo.svg" alt="idesy">
					</a>
					<div class="logo-text">
						<p>gambling</p>
						<p>aesthetics</p>
					</div>
				</div>
				<div class="right-side">
					<nav class="main-nav">
						<ul class="main-menu">
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Works</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
						</ul>
					</nav>
					<a href="#" class="btn btn-md btn-primary">Send a Request</a>
					<a href="#" class="btn-toggle-menu">
					</a>
				</div>
			</div>
		</header>
		<!-- / header -->
		<main id="main">
			<div class="post-page">
				<div class="container">
					<ul class="breadcrumb">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Works</a>
						</li>
						<li>
							<span>Rich Prize</span>
						</li>
					</ul>
				</div>
				<div class="page-intro">
					<div class="container container-small">
						<div class="left-side">
							<h1 class="h1">Rich.prize</h1>
							<ul class="list-tags">
								<li><span>UI Kit</span></li>
								<li><span>Wireframes</span></li>
								<li><span>Ux/Ui</span></li>
							</ul>
						</div>
						<div class="right-side">
							<span class="decor-text">아름다움은 <br> 보는 사람의 눈 <br> 보는 사람의 눈에</span>
							<div class="text-holder">
								<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
							</div>
						</div>
					</div>
				</div>
				<div class="main-img" style="background-image: url(images/img-031.jpg);">
				</div>
				<div class="post-content">
					<div class="text-two-cols style-1">
						<div class="container container-small">
							<div class="row">
								<div class="col-6">
									<div class="text-holder">
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
									</div>
								</div>
								<div class="col-6">
									<div class="text-holder">
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<div class="img-holder size-1">
										<img src="images/img-031.jpg" alt="...">
									</div>
								</div>
								<div class="col-6">
									<div class="img-holder size-1">
										<img src="images/img-030.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="img-holder size-2">
										<img src="images/img-033.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-one-col">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="text-holder">
										<p>These tracks are known for their fast pace, intense beats, and overall high energy, making them suitable for a fixed gear ride video that aims to capture speed and adrenaline. Always check and respect copyright regulations when using music in your videos.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container swiper swiper-mobile-gallery">
							<div class="row swiper-wrapper">
								<div class="col-4 swiper-slide">
									<div class="img-holder size-3">
										<img src="images/img-034.jpg" alt="...">
									</div>
								</div>
								<div class="col-4 swiper-slide">
									<div class="img-holder size-3">
										<img src="images/img-034.jpg" alt="...">
									</div>
								</div>
								<div class="col-4 swiper-slide">
									<div class="img-holder size-3">
										<img src="images/img-034.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<div class="img-holder size-1">
										<img src="images/img-032.jpg" alt="...">
									</div>
								</div>
								<div class="col-6 text-col">
									<div class="text-holder">
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row reversed">
								<div class="col-6">
									<div class="img-holder size-1">
										<img src="images/img-032.jpg" alt="...">
									</div>
								</div>
								<div class="col-6 text-col">
									<div class="text-holder">
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="img-holder size-2">
										<img src="images/img-033.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="img-full-width mt" style="background-image: url(images/img-031.jpg);">
					</div>
					<div class="text-one-col">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="text-holder">
										<p>These tracks are known for their fast pace, intense beats, and overall high energy, making them suitable for a fixed gear ride video that aims to capture speed and adrenaline. Always check and respect copyright regulations when using music in your videos.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<div class="img-holder size-1">
										<img src="images/img-032.jpg" alt="...">
									</div>
								</div>
								<div class="col-6">
									<div class="img-holder size-1">
										<img src="images/img-032.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="img-holder size-2">
										<img src="images/img-033.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="images-block">
						<div class="container">
							<div class="row">
								<div class="col-4">
									<div class="img-holder size-3">
										<img src="images/img-034.jpg" alt="...">
									</div>
								</div>
								<div class="col-4 text-col style-2">
									<div class="text-holder">
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
										<p>We’re specializing on the full-cycle gambling services from market audits to front-end code delivery. And continue supporting your product regularly boosted and up-to-date</p>
									</div>
								</div>
								<div class="col-4">
									<div class="img-holder size-3">
										<img src="images/img-034.jpg" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section_works">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<div class="works-item">
									<h3 class="h3" data-before="///">woom.bet</h3>
									<div class="item-picture" style="background-image: url(images/img-06.jpg);"></div>
									<ul class="list-tags">
										<li><span>UI Kit</span></li>
										<li><span>Wireframes</span></li>
										<li><span>Ux/Ui</span></li>
									</ul>
									<a href="#" class="item-link">woom.bet</a>
								</div>
							</div>
							<div class="col-6">
								<div class="works-item">
									<h3 class="h3" data-before="///">woom.bet</h3>
									<div class="item-picture" style="background-image: url(images/img-06.jpg);"></div>
									<ul class="list-tags">
										<li><span>UI Kit</span></li>
										<li><span>Wireframes</span></li>
										<li><span>Ux/Ui</span></li>
									</ul>
									<a href="#" class="item-link">woom.bet</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block-start">
					<div class="container">
						<span>Ready to Start <br>the Project?</span>
					</div>
				</div>
			</div>
		</main>
		<!--  footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<div class="footer-block first-block">
							<span class="title-custom">
								<span data-text="a client"></span>
								<span>Become</span>
							</span>
							<div class="icon-holder">
								<img src="images/icon-04.svg" alt="...">
							</div>
							<a href="#" class="block-link">Become a client</a>
						</div>
					</div>
					<div class="col-6">
						<div class="footer-block second-block">
							<div class="block-img-1">
								<img src="images/img-026.png" alt="...">
							</div>
							<div class="block-content">
								<a href="mailto:hello@idesy.agency" class="link-mail">hello@idesy.agency</a>
								<ul class="soc-links">
									<li>
										<a href="#">
											<span class="icon-holder">
												<img src="images/icon-01.svg" alt="...">
											</span>
											facebook
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-holder">
												<img src="images/icon-02.svg" alt="...">
											</span>
											instagram
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon-holder">
												<img src="images/icon-03.svg" alt="...">
											</span>
											behance
										</a>
									</li>
								</ul>
								<p class="copyright">
									All rights reserved © 2023 — idesy.agency
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- / footer -->
	</div>
	<script src="/js/swiper-bundle.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
</body>

</html>